
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container-header {
    background-color:#e44c34 ;
    height: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    display: inline;
    margin: 30px;
    font-family: 'Bungee', sans-serif;
}

header nav a {
    text-decoration: none;
    color: white;
}

header div img {
    width:125px ;
    display: flex;
    justify-content: center;
    border: 5px;
    border-color: white;
    border-style:dashed;
    border-radius: 10px;
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-coluna {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    margin: 50px;
    font-family: 'Noto Sans', sans-serif;
}

main div img {
    width: 650px;
    border-radius: 10px;
}

main div button {
    color:white ;
    background-color: #e44c34;
    width: 200px;
    height: 50px;
    margin:20px ;
    font-family: 'Bungee', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    border-color: #e93519;
}

.colored {
    color: #e93519;
}

footer div {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

.form {
    border-style:ridge;
    border-color: #e93519;
}

.second-button {
    color:white ;
    background-color: #e44c34;
    width: 200px;
    height: 50px;
    margin:20px ;
    font-family: 'Bungee', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    border-color: #e93519;
}

.logos img {
    width: 55px;
    margin-top: 10px;
}

.footer {
    display: flex;
    align-items: center;
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container-social {
    display: inline;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}